<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Weather App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>

    <body>
        <h1>GET<br>WEATHER<br>MAP</h1>
        <div class="form">
            <form class="search-bar" method="POST" autocomplete="off">
                <input type="text" placeholder="Search City" name="city">
                <button type="submit" class="btn btn-outline-dark"><img src="{{ url_for('static', filename='img/search.png') }}"></button>
            </form>
        </div>

        <div class="weather-info">
            <div class="cards">
                {% for weather in weather_data %}
                    <div class="card night">
                        <div class="delete-wrapper">
                            <form action="/delete/{{ weather.city }}" method="POST">
                                <input type="hidden" name="city" value="{{ weather.city }}">
                                <button class="delete-button" type="submit">&#10006;</button>
                            </form>
                        </div>
                        <div class="degrees"><span>{{ weather.temperature }}<span class="celsius"> °C</span></span></div>
                        <div class="state">{{ weather.description }}</div>
                        <div class="empty"></div>
                        <div class="city">{{ weather.city }}</div> -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Oswald:wght@700&display=swap" rel="stylesheet">
</html> 


